<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="/home"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li class="dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label"><i class="fa fa-fw fa-camera"></i> Video Surveillance</span><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/analyze/reid"><i class="fa fa-fw fa-male"></i> Person Re-ID</a></li>
                <li><a href="/analyze/counting"><i class="fa fa-fw fa-users"></i> People Counting</a></li>
                <li><a href="/reid-list"><i class="fa fa-fw fa-file"></i> Person List</a></li>
                <!-- <li><a href="/reid-config"><i class="fa fa-fw fa-cog"></i> Config</a></li> -->
            </ul>
        </li>
        <!-- <li>
            <a href="/blank-page"><i class="fa fa-fw fa-file"></i> About</a>
        </li> -->
    </ul>
</div>