{% extends "layouts/base.html" %}
<!-- Block title untuk penamaan judul halaman -->
{% block title %} Home {% endblock %}
<!-- Block content untuk konten body halaman -->
{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <p class="text-warning">WARNING !!!</p>
                        <ul class=flashes>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                <hr>
                <h4>{{ data['title'] }} </h4>
                <hr>
                <form class="" action="/analyze/{{ data['analyze_type'] }}" method="POST" enctype="multipart/form-data">
                    <div class="form-inline">
                        <div class="form-group col-auto">
                            <!-- <label for="video_src">Select Video Source</label> -->
                            <select class="form-control" id="video_src" name="video_src">
                                <option value="0" selected="">Select Video Source</option>
                                <option value="1">Kamera</option>
                                <option value="2">File</option>
                                <option value="3">CCTV</option>
                            </select>
                        </div>

                        <div class="form-group col-auto">
                            <!-- <label for="">Input File or Video ID</label> -->
                            <select style="display: none;" class="form-control" id="input_cctv" name="cctv">
                                {% for cctv_id in data['cctv_ids'] %}
                                    <option value="{{ cctv_id['cctvId'] }}">{{ cctv_id['cctvName'] }}</option>
                                {% endfor %}
                            </select>
                            <input style="display: none;" type="text" name="url" class="form-control" id="input_url" placeholder="Masukan ID Kamera">
                            <input style="display: none;" id="input_file" class="form-control-lg" type="file" name="video">
                        </div>
                    </div>
                    
                    <br>
                    <div class="form-group col-auto">
                        <div class="form-check">
                            <input class="form-check-input" name="disable_bb" type="checkbox" id="gridCheck">
                                <label class="form-check-label" for="gridCheck">
                                    Disable Bounding Box?
                                </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Analyze</button>
                </form>
                {% if data['filename'] %}
                    <hr>
                    <img id="bg" class="center" src="/video_feed/{{ data['analyze_type'] }}/{{ data['disable_bb'] }}/{{ data['input_type'] }}/{{ data['filename'] }}">
                {% else %}
                    <hr>
                    <img id="bg" class="center" src="{{ request.url_root }}static/images/no-image.png" alt="">
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block imports %}
{% endblock %}

{% block scripts %}
<script>
    $("#video_src").change(function () {
        if(this.value == 1){
            $("#input_url").show();
            $("#input_file").hide();
            $("#input_cctv").hide();
        } else if(this.value == 2){
            $("#input_url").hide();
            $("#input_file").show();
            $("#input_cctv").hide();
        } else if(this.value == 3){
            $("#input_url").hide();
            $("#input_file").hide();
            $("#input_cctv").show();
        }else{
            $("#input_url").hide();
            $("#input_file").hide();
            $("#input_cctv").hide();
        }
    });
</script>
{% endblock %}